<%- include('partials/header'); -%>
<div class="content container">
    <h1>Author page</h1>
    <div class="row align-items-stretch">
      <!-- Team Member 1 -->
    <% authors.forEach((author)=>{ %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow w-100 h-100">

            <% if (!author.authorAvatar) { %> 
              <img src="../public/images/authorImages/defaultAuthor.jpg" class="card-img-top h-50 w-100" alt="..." style="object-fit: cover">
            <% } else {%>
              <img src="../public/images/authorImages/<%= author.authorAvatar%>" class="card-img-top h-100 w-100" alt="..." style="object-fit: cover">
            <%}%>

          
          <div class="card-body text-center" style="height:100px ;">
            <h5 class="card-title mb-0"><a href="/author/<%= author.authorName %>"><%= author.authorName %></a></h5>
            <div class="card-text text-black-50">Web Developer</div>
          </div>
        </div>
      </div>
    <%}); %>

      
    </div>
    <!-- /.row -->

  </div>
<%- include('partials/footer'); -%>