<%- include('partials/header'); -%>
<!-- <p><%=loginUser.emailLogin%></p>
<p><%=loginUser.isAdminLogin%></p> -->

<% if (loginUser.isAdminLogin == true) { %>
  <div class="content container">
  <h1>My information</h1>
  <form action="/user/email" method="post">
    <div class="input-group mb-3 rounded w-50">
      <input type="text" class="form-control rounded" placeholder="Search users information by email"
        aria-label="Search" name="emailSearch" />
      <button id="search-button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewUser">
    <i class="fa-solid fa-plus"></i> New
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addNewUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/user/create-new-user" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="email1">Email address</label>
              <input type="email" class="form-control" id="email1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email" />
            </div>
            <div class="form-group">
              <label for="bookIDField">Enter First Name</label>
              <input type="text" class="form-control" id="bookIDField" placeholder="Enter First Name"
                name="firstName" />
            </div>
            <div class="form-group">
              <label for="">Enter Last Name</label>
              <input type="text" class="form-control" id="" placeholder="Enter Last Name" name="lastName" />
            </div>
            <div class="form-group">
              <label for="">Enter Adress</label>
              <input type="Address" class="form-control" id="" placeholder="Enter Adress" name="address" />
            </div>
            <div class="form-group">
              <label for="">Enter Password</label>
              <input type="password" class="form-control" id="" placeholder="Enter Password" name="password" />
            </div>
            <div class="form-group">
              <label for="">Is Admin ?</label>
              <input type="text" class="form-control" id="" placeholder="Is Admin ?(1 is Admin, 0 is not)"
                name="isAdmin" />
            </div>
            <div class="form-group">
              <label for="">Enter Phone Number</label>
              <input type="number" class="form-control" id="" placeholder="Enter Phone Number" name="phoneNumber" min="0"/>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Add User</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<div class="container-xl px-4 mt-4">

  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-xl-4">
          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <% if (!userData1.avatar) { %> 
                    <img class="img-account-profile rounded-circle mb-2" src="../public/images/default.jpg" alt="">
                     <% } else {%>
                  <img class="img-account-profile rounded-circle mb-2" src="../public/images/<%= userData1.avatar %>" alt="">
                  <%}%><!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#changeAvatar">
                    <i class="fa-solid "></i> Change Avatar
                  </button>
                
                
                  <div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Change Avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/user/change-avatar" enctype="multipart/form-data" method="post">
                        <div class="modal-body">
                          <div class="form-group">
                            <input type="text" class="form-control" id="" value="<%=loginUser.emailLogin%>" name="email" hidden />
                          </div>
                
                          <div class="form-group">
                            <label for="">Choose image</label>
                            <input type="file" class="form-control" id=""
                              name="avatar" accept='image/*' required  />
                          </div>
                
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <button type="submit" class="btn btn-success">Change</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>



                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#changePassword">
                  <i class="fa-solid fa-key"></i> Change password
                </button>
                <!-- Modal -->
                <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/user/change-password" method="post">
                        <div class="modal-body">
                          <div class="form-group">
                            <input type="text" class="form-control" id="" value="<%=loginUser.emailLogin%>" name="email" hidden />
                          </div>
              
                          <div class="form-group">
                            <label for="">Enter Your Current Password</label>
                            <input type="password" class="form-control" id="" placeholder="Old Password"
                              name="currentPassword" required />
                          </div>
              
                          <div class="form-group">
                            <label for="">Enter Your New Password</label>
                            <input type="password" class="form-control" id="" placeholder="New Password"
                              name="newPassword" required />
                          </div>
              
                          <div class="form-group">
                            <label for="">Enter Your New Password Again</label>
                            <input type="password" class="form-control" id="" placeholder="Re-enter New Password"
                              name="newPasswordAgain" required />
                          </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                          <button type="submit" class="btn btn-success">Commit Change</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              


              </div>
          </div>
      </div>
      <div class="col-xl-8">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Account Details</div>
              <div class="card-body">
                  
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                          <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username"> -->
                          <input class="form-control" readonly id="userEmail1_<%= userData1.email %>" type="text" placeholder="UserName" value="<%= userData1.email %>">
                          <!-- <td class="edit" contenteditable="false" id="userEmail_<%= userData.email %>">
                            <%= userData.email %>
                          </td> -->
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (first name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputFirstName">First name</label>
                              <input class="form-control" id="userFirstName1_<%= userData1.email %>" type="text" placeholder="Enter your first name" value="<%= userData1.firstName %>">
                          </div>
                          <!-- Form Group (last name)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLastName">Last name</label>
                              <input class="form-control" id="userLastName1_<%= userData1.email %>" type="text" placeholder="Enter your last name" value="<%= userData1.lastName %>">
                          </div>
                      </div>
                      <!-- Form Row        -->
        
                      <!-- Form Group (email address)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputEmailAddress">Address</label>
                          <input class="form-control" id="userAddress1_<%= userData1.email %>" type="text" placeholder="Enter your address" value="<%= userData1.address %>">
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone">Phone number</label>
                              <input class="form-control" id="userPhoneNumber1_<%= userData1.email %>" type="tel" placeholder="Enter your phone number" value="<%= userData1.phoneNumber %>">
                          </div>
                          <!-- Form Group (birthday)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputBirthday">Is Admin</label>
                              <input class="form-control" readonly id="userIsAdmin1_<%= userData1.email %>" type="text" name="birthday" placeholder="Is Admin" value="<%= userData1.isAdmin %>">
                          </div>
                      </div>
                      <!-- Save changes button-->
                      <!-- <button class="btn btn-primary" type="button">Save changes</button> -->
                      <button class="btn btn-success btn-save btn-for-admin" id="saveBtn_<%=userData1.email%>">
                        Save change
                      </button>
                      
                      <script src="/js/editUser2.js"></script>
              </div>
          </div>
      </div>
  </div>
</div>

<hr>
<h1>Users in system</h1>

  <table class="table table-striped table-hover" data-toggle="table" data-search="true">
    <caption>
      List of users in the system
    </caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">User Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Is Admin</th>
        <th scope="col-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% userData.forEach((userData)=>{ %> <%let isAdminOrNot= userData.isAdmin
      || false; %>
      <p>
        <%isAdminOrNot=(!isAdminOrNot)||(userData.email==loginUser.emailLogin);%>
      </p>
      <tr>
        <td>
          <% if (!userData.avatar) { %> 
            <img class="rounded-circle shadow-4" src="../public/images/default.jpg"  style="width: 70px;height: 60px;" alt="">
             <% } else {%>
          <img class="rounded-circle shadow-4" src="../public/images/<%= userData.avatar %>"  style="width: 70px;height: 60px;" alt="">
          <%}%>


          <!-- <img src="../public/images/<%= userData.avatar %>" class="rounded-circle shadow-4" style="width: 70px;height: 60px;" alt="Avatar" /> -->
        </td>
        <td class="edit" contenteditable="false" id="userEmail_<%= userData.email %>">
          <%= userData.email %>
        </td>
        <td class="edit" contenteditable="<%=isAdminOrNot%>" id="userFirstName_<%= userData.email %>">
          <%= userData.firstName %>
        </td>
        <td class="edit" contenteditable="<%=isAdminOrNot%>" id="userLastName_<%= userData.email %>">
          <%= userData.lastName %>
        </td>
        <td class="edit" contenteditable="<%=isAdminOrNot%>" id="userAddress_<%= userData.email %>">
          <%= userData.address %>
        </td>
        <td class="edit" contenteditable="<%=isAdminOrNot%>" id="userPhoneNumber_<%= userData.email %>">
          <%= userData.phoneNumber %>
        </td>

        <td class="edit" contenteditable="false" id="userIsAdmin_<%= userData.email %>">
          <%= userData.isAdmin %>
        </td>
        <td>
          <% if (isAdminOrNot) { %>

          <form action="/user/delete-user" method="post" style="display: inline">
            <input type="text" name="email" value="<%= userData.email%>" hidden />
            <input type="text" name="isAdmin" value="<%= userData.isAdmin%>" hidden />
            <button type="submit" class="btn btn-danger btn-delete">
              Delete
            </button>
          </form>

          <button class="btn btn-success btn-save btn-for-system" id="saveBtn_<%=userData.email%>">
            Edit
          </button>

          <% } %>
        </td>
      </tr>
      <%}); %>
    </tbody>
  </table>
</div>
<script src="/js/editUser.js"></script>

<% } %>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<%- include('partials/footer'); -%>